@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
#guide .inner .guide__container .guide__title, #portfolio .inner .portfolio__title, #works .works__container .inner .works__title {
  font-family: "Noto Serif", serif;
  font-size: 24px;
  text-align: left;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  word-break: keep-all;
  text-align: center;
}

body {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  position: relative;
  max-width: 1640px;
  height: 100%;
  padding: 100px 0;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.nav__container {
  background-color: none;
}
.nav__container .black_bg {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  height: 100vh;
  position: absolute;
  z-index: 1;
}
.nav__container .sidenav {
  position: absolute;
  z-index: 2;
  padding: 55px;
  right: 0;
  width: 40%;
  height: 100vh;
  background-color: white;
}
.nav__container .sidenav .sidenav__cancel {
  position: absolute;
  width: 28px;
  height: 28px;
}
.nav__container .sidenav .sidenav__lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__container .sidenav .sidenav__lists .sidenav__logo {
  margin-top: 98px;
}
.nav__container .sidenav .sidenav__lists .sidenav__logo .logo {
  width: 245px;
  height: 29px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/logo.svg);
}
.nav__container .sidenav .sidenav__lists ul a {
  text-decoration: none;
  color: black;
}
.nav__container .sidenav .sidenav__lists ul li {
  font-family: "Noto Serif", serif;
  margin-top: 58px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}

.navbar__icons {
  background-image: url(../images/hamburger.svg);
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 30px;
}

.navbar__icons-w {
  background-image: url(../images/white_hamburger.svg);
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 30px;
}

.navbar__logo .logo {
  background-image: url(../images/logo.svg);
  width: 241px;
  height: 29px;
}

.nav {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 1;
}
.nav .inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

#main {
  height: auto;
  padding-top: 130px;
}
#main .inner {
  padding: 180px 0;
}
#main .inner .main__container {
  display: flex;
  justify-content: space-between;
}
#main .inner .main__container .main__img1 {
  background-image: url(../images/main-1.png);
  background-position: center;
  background-size: cover;
  height: 475px;
  flex-grow: 1;
  margin-right: 9px;
}
#main .inner .main__container .main__img2 {
  background-image: url(../images/main-2.png);
  background-position: center;
  background-size: cover;
  height: 475px;
  flex-grow: 2;
  margin-right: 9px;
}
#main .inner .main__container .main__img3 {
  background-image: url(../images/main-3.png);
  background-position: center;
  background-size: cover;
  height: 475px;
  flex-grow: 1;
}

.navbar__logo {
  width: 241px;
  height: 29px;
  background-image: url(../images/white_logo.svg);
}

.story__bg {
  background-image: url(../images/story1.png);
  background-position: center;
  background-size: cover;
  height: 751px;
  position: absolute;
  z-index: -1;
  width: 100%;
}

#story .story__bg-space {
  width: 100%;
  height: 751px;
}
#story .story__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 0;
}
#story .story__container .story__logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  width: 242px;
  height: 30px;
  margin-right: 91px;
}
#story .story__container .story__text {
  font-family: "Pretandard-Light";
  font-size: 20px;
  width: 804px;
  text-align: left;
  line-height: 24px;
}

#works {
  height: auto;
  padding-top: 179px;
}
#works .works__container {
  height: auto;
}
#works .works__container .inner {
  padding-top: 0;
}
#works .works__container .inner .works__textbox {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 150px;
  text-align: left;
}
#works .works__container .inner .works__textbox .works__text1 {
  font-family: "Noto Serif", serif;
  font-size: 34px;
  color: #4a3e2e;
  position: absolute;
  left: 12%;
}
#works .works__container .inner .works__textbox .works__text2 {
  font-size: 20px;
  line-height: 30px;
  width: 682px;
  position: absolute;
  right: 12%;
}

#portfolio {
  padding-top: 179px;
}
#portfolio .inner {
  padding: 0;
  margin-top: 40px;
}
#portfolio .inner .portfolio__imgContainer {
  margin-top: 21px;
}

#guide {
  height: 100vh;
  padding-top: 179px;
}
#guide .inner {
  padding: 40px 0;
}
#guide .inner .guide__container .toggle-content {
  font-family: "Pretandard-Light";
  font-size: 18px;
  margin-top: 20px;
  padding-top: 179px;
  padding-top: 179px;
  text-align: left;
}
#guide .inner .guide__container .toggle-content li:not(:last-child) {
  line-height: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#guide .inner .guide__container .toggle-content .answer {
  margin-top: 10px;
  line-height: 25px;
  margin-bottom: 20px;
}

#contact {
  padding-top: 179px;
}
#contact .contact__title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 29px;
  text-align: center;
  line-height: 50px;
}
#contact .contact__info {
  margin-top: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .contact__info .info__title {
  width: 100%;
  height: 542px;
  margin-right: 100px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#contact .contact__info .info__title .info__OadCONTACT {
  text-align: left;
  font-family: "Noto Serif", serif;
  font-size: 34px;
}
#contact .contact__info .info__title .info__text {
  font-size: 20px;
  text-align: left;
  line-height: 40px;
  margin-top: 43px;
  width: 395px;
}
#contact .contact__info .contact__box {
  width: 100%;
}
#contact .contact__info .contact__box .contact__personalform .contact__form input {
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 30px;
}
#contact .contact__info .contact__box .contact__personalform .contact__form input::-moz-placeholder {
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
#contact .contact__info .contact__box .contact__personalform .contact__form input:-ms-input-placeholder {
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
#contact .contact__info .contact__box .contact__personalform .contact__form input::placeholder {
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
#contact .contact__info .contact__box .contact__contents textarea {
  width: 100%;
  height: 215px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 30px;
}
#contact .contact__info .contact__box .contact__contents textarea::-moz-placeholder {
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
#contact .contact__info .contact__box .contact__contents textarea:-ms-input-placeholder {
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
#contact .contact__info .contact__box .contact__contents textarea::placeholder {
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
#contact .contact__info .contact__box .contact__btn {
  width: 248px;
  height: 59px;
  border: 1px solid #707070;
  background: none;
  margin-top: 67px;
  font-family: "Noto Serif", serif;
  font-size: 23px;
}

.honeypot-field {
  display: none;
}

#main__footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#main__footer .footer_logo {
  background-image: url(../images/logo.svg);
  background-size: cover;
  background-position: center;
  width: 145px;
  height: 17px;
  margin: 0 auto;
}
#main__footer .footer__info {
  font-size: 15px;
  margin-top: 10px;
  line-height: 22px;
}/*# sourceMappingURL=style.css.map */