@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  word-break: keep-all;
  text-align: center;
}

body {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  position: relative;
  width: 1640px;
  height: auto;
  padding: 100px 0;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.nav__container {
  background-color: none;
}
.nav__container .black_bg {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  height: 100vh;
  position: absolute;
  z-index: 1;
}
.nav__container .sidenav {
  position: absolute;
  z-index: 2;
  padding: 55px;
  right: 0;
  width: 40%;
  height: 100vh;
  background-color: white;
}
.nav__container .sidenav .sidenav__cancel {
  position: absolute;
}
.nav__container .sidenav .sidenav__cancel img {
  width: 28px;
  height: 28px;
}
.nav__container .sidenav .sidenav__lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__container .sidenav .sidenav__lists .sidenav__logo {
  margin-top: 98px;
}
.nav__container .sidenav .sidenav__lists .sidenav__logo .logo {
  width: 241px;
  height: 29px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/logo.svg);
}
.nav__container .sidenav .sidenav__lists ul a {
  text-decoration: none;
  color: black;
}
.nav__container .sidenav .sidenav__lists ul li {
  font-family: "Noto Serif", serif;
  margin-top: 58px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}

.navbar__icons img {
  width: 40px;
  height: 30px;
}

.navbar__logo .logo {
  background-image: url(../images/logo.svg);
  width: 241px;
  height: 29px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

#main {
  height: auto;
}
#main .main__container {
  display: flex;
  justify-content: space-between;
}
#main .main__container .main__img1 {
  background-image: url(../images/main-1.png);
  flex-grow: 1;
  height: 475px;
  background-size: cover;
  background-position: center;
  margin-right: 9px;
}
#main .main__container .main__img2 {
  background-image: url(../images/main-2.png);
  flex-grow: 2;
  height: 475px;
  background-size: cover;
  background-position: center;
  margin-right: 9px;
}
#main .main__container .main__img3 {
  background-image: url(../images/main-3.png);
  flex-grow: 1;
  height: 475px;
  background-size: cover;
  background-position: center;
}

.navbar__logo {
  width: 241px;
  height: 29px;
  background-image: url(../images/white_logo.svg);
}

#story {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: auto;
}
#story .story__bg {
  background-image: url(../images/story1.png);
  background-size: cover;
  height: 751px;
}

#works {
  height: auto;
}
#works .inner {
  padding-top: 0;
}
#works .inner .works__container .works__title {
  font-family: "Noto Serif", serif;
  font-size: 24px;
  text-align: left;
}
#works .inner .works__container .works__textbox {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 113px;
  text-align: left;
}
#works .inner .works__container .works__textbox .works__text1 {
  font-family: "Noto Serif", serif;
  font-size: 34px;
  color: #4a3e2e;
}
#works .inner .works__container .works__textbox .works__text2 {
  font-size: 20px;
  line-height: 30px;
  width: 682px;
}

#main__footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#main__footer .footer_logo {
  background-image: url(../images/logo.svg);
  width: 125px;
  height: 15px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
#main__footer .footer__info {
  font-size: 15px;
  margin-top: 10px;
  line-height: 22px;
}/*# sourceMappingURL=style.css.map */